@import "../../scss/variables";
@import "../../scss/mixins";

.products-list {
  @include flex(row, space-evenly, 2rem);
  margin: 1rem;
  .card {
    width: 350px;
    height: $cardHeight;
    position: relative; //*Eğer burada relative vermezsem priceler üst üste toplanıyor
    overflow: hidden; //! card'tan taşmaları engelliyor Yani card'tan taşan elemanı gösterme yaptık
    .price {
      position: absolute; //! Absoluote'un düzgün çalışması için parent'ına relative verilir
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); //* Perfect ortalama içiön bu uygulanır
      background-color: $cardBgColor;
      color: $cardColor;
      padding: $cardPadding;
      font-size: 0.9rem;
      border-radius: $borderRadius;
      z-index: 2;
    }

    img {
      width: 100%;  // card'ın genişliği kadar 
      height: $cardHeight;
      border-radius: $borderRadius;
      filter: sepia(100%);
    }
    &_over {  //! burada card_over card'ın devamı olduğu için  &_over dedik
      width: 100%; //* İçindeki elemanı kapsıyor
      position: absolute;
      bottom: 0; //!0 vererek oturttum left ve right'tan da ayarlama yapabilirim 0 vererek oturtabilirim
      background-color: $cardBgColor;
      color: darken($cardColor, 50%);
      font-size: 1.2rem;
      padding: $cardPadding;
      border-radius: $borderRadius;
      transform: translateY(100%); //! burada y ekseninde 100% kaydır oldu x ekseni de yapabiliriz
      transition: transform 0.7s; //*transform'u takip et dedik
      height: 25%; //? kimi card yükselkliği fazlaydı sabitledik ancak bu sefer yazılar taşıyor
      overflow: auto; //* yazıların taşmasını da bu şekilde engelledik
      &::-webkit-scrollbar {
        display: none;  //! overflow'da scroll çıktı ve bu şekilde kaldırdık & ile card_over'ın içindeyim ona none verdim.Bunu body'de de uygulayabilirdim
      }
    }
    &:hover .card_over {
      transform: translateX(0%);
    }
    &:hover img {
      filter: none; //! image'e verdiğimiz filter'ı kaldırdık
    }
  }
}
